* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", Times, serif;
}

.navigation-container{
  display: flex;
  justify-content: center;
  background-color: #ffcc99;
  padding: 20px 0;
}

.navigation{
  display: flex;
  font-size: 18px;
  font-family: "Georgia", Times, serif;
  justify-content: space-between;
}

.navigation a{
  color: #FFF;
  padding: 20px;
  text-decoration: none;
}

.navigation a:hover{
  background-color: #E08B52;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 24px;
}

.me, .ellen, .arthur, .familie{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #ffe5cc;
}

.arthur{
  background-color:  #ffcc99;
}

.ellen, .familie{
  flex-direction: row-reverse
}

.me h1, .ellen h2, .arthur h2, .familie h2{
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.me p, .ellen p, .arthur p, .familie p{
  display: flex;
  align-items: flex-end;
  padding: 0px 20px 0px 20px;
}

.me img, .familie img, .ellen img, .arthur img{
  width: 100%;
  height: 100%;
  display: block;
}

.ellen img{
  width: 60%;
}

.arthur img{
  width: 30%;
}

.family{
  height: 950px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color:  #ffcc99;
}

.family h1{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
